@font-face {
  font-family: 'Open Sauce One';
  src: url('fonts/OpenSauceOne-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sauce One', sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}

/* HOME SECTION */
.home {
  margin: 10rem auto;
  width: 800px;
  text-align: center;
}

.home h1 {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0;
  padding: 3rem;
  background-image: url('img/logo.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px; /* opzionale per angoli arrotondati */
  color: #fff;
}
